.btn.copy-url {
    background-color: transparent;
    color: white;
    border: 1px solid #938e8e;
    transition: background-color 1s ease-in;
    box-shadow: none;
    font-size: 12px;
    padding: 5px 15px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@keyframes flash {
    0%,
    100% {
        background-color: transparent;
        color: #2d2d2d;
    }
    50% {
        background-color: var(--warning-background-color);
        color: white;
    }
    100% {
        background-color: transparent;
        color: white;
    }
}

.btn.copy-url.clicked {
    animation: flash 1.5s 1;
    transition:
        background-color 0.75s,
        color 0.75s;
}

#copySessionUrl div {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr max-content;
}

#copySessionUrl .text {
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

#copySessionUrl .text i {
    color: var(--success-font-color);
}

@media (max-width: 700px) {
    #copySessionUrl .text {
        display: none;
    }
}
