.footer {
    display: grid;
    background-color: #343a40;
    grid-template-columns: max-content 1fr max-content;
}

.footer .renegade {
}

.footer .sauce {
    height: 100%;
    display: grid;
    place-items: center;
    grid-column: 3;
    padding-right: var(--control-horizontal-space);
}

.footer .sauce a {
    display: grid;
}
