@import url(https://fonts.googleapis.com/css?family=Righteous);

#tagline {
    text-align: center;
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 30px;
    text-shadow: 0.03em 0.03em 0 hsla(230, 40%, 50%, 1);
}
