:root {
    color-scheme: dark;
    --text-color: #f8f9fa;
    --background-color: #272b30;

    /* Larger spacing for larger app areas, like panels and page paddings */
    --section-vertical-space: 35px;

    /* Standard spacing for individual elements and lists */
    --control-vertical-space: 15px;
    --control-horizontal-space: 20px;

    --success-font-color: #82da5f;
    --success-background-color: #377a1c;
    --warning-font-color: #dca051;
    --warning-background-color: #7c4802;
    --error-font-color: #fc1e1e;
    --error-background-color: #a80404;

    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    box-sizing: border-box;
}

html {
    background-color: #272b30;
    font-family: var(--font-family), sans-serif;
}

body {
    margin: 0;
}

.hidden {
    display: none;
}
