<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/ui/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ui/css/open-iconic-bootstrap.min.css">

    <link rel="stylesheet" href="/ui/css/style.css">
    <title>Ballot</title>
</head>
<body>

<div id="app">
    <span style="display: none" id="paramDomain">{{.Domain}}</span>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">BALLOT</a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="criticalError" class="alert alert-danger" role="alert">
                </div>
            </div>
        </div>
        <router-view></router-view>
    </div>
</div>

<script src="/ui/js/jquery-3.4.1.min.js"></script>
<script src="/ui/js/popper.min.js"></script>
<script src="/ui/js/bootstrap.min.js"></script>
<script src="/ui/js/glue.js"></script>
<script src="/ui/js/app.js?"></script>

<footer></footer>
</body>
</html>