#voteContainer {
    display: grid;
    grid-auto-rows: max-content;
    row-gap: var(--section-vertical-space);
}
#voteHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: #2e3238;
    height: 100px;
    border-bottom: 2px solid #4a4f56;
}

#cards {
    padding-left: var(--control-horizontal-space);
    padding-right: var(--control-horizontal-space);
    display: grid;
    grid-template-columns: repeat(11, auto);
    column-gap: var(--control-horizontal-space)
}

#tally {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr max-content 1fr;
}

#tally span {
    border: 2px solid white;
    grid-column: 2;
    padding: 20px;
    border-radius: 7px;
    font-size: 2em;
    font-weight: bold;
}

.btn.estimate {
    display: grid;
    place-items: center;
    height: 120px;
    background-color: transparent;
    color: #ffc107;
    border: 2px solid #ffc107;
}

.btn.estimate.selected {
    background-color: #ffc107;
    color: black;
    border: 1px solid white;
}

#startMessage {
    width: 100%;
    line-height: 2.2em;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.30);
    border: 1px dotted grey;
    padding: .5em;
}

#voters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
